.formulario-container {
    height: 80rem;
    width: 40rem;
    margin: 1rem;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button-getCharacters {
    margin-top: 2rem;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-getCharacters:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f8f8f8;
  }